<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Cat Collection</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/modern-business.css" rel="stylesheet">
  <link href="css/cat_list.css" rel="stylesheet">


</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">Cat Collection</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <!-- <div class="imageframe"> -->
            <!-- Hello World -->
          <!-- </div> -->
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">HomePage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cat List</a>
          </li>
        </ul>
      </div>
      <div class="navbar-brand">
        <img class='imageframe' src='media/images/cat1.jpg'/>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <!-- <div class="cat-list-container">   -->
      <button type="submit" class="btn btn-primary cat-list-button">Add Cat</button>
    <!-- </div> -->
    <div class="cat-list-container">
      <ul class="my-4 cat-list-list">
        <li>
          <table class="cat-list-item">
            <tr>
              <td class="cat-list-item-image-container" colspan="2">
                <div class="cat-list-item-image-container">
                  <img class="cat-list-item-image" src='media/images/cat2.jpg'/>
                </div>
              </td>
            </tr>
            <tr>
              <td class="owner" colspan="2">
                <h3>Owner: Samuel</h3>
              </td>
            </tr>
            <tr>
              <td>
                <button class="btn btn-warning cat-list-item-button">Update</button>
              </td>
              <td>
                <button class="btn btn-danger cat-list-item-button">Remove</button>
              </td>
            </tr>
          </table>
        </li>
         <li>
          <table class="cat-list-item">
            <tr>
              <td class="cat-list-item-image-container" colspan="2">
                <div class="cat-list-item-image-container">
                  <img class=" cat-list-item-image" src='media/images/cat3.jpg'/>
                </div>
              </td>
            </tr>
            <tr>
              <td class="owner" colspan="2">
                <h3>Owner: Samuel</h3>
              </td>
            </tr>
            <tr>
              <td>
                <button class="btn btn-warning cat-list-item-button">Update</button>
              </td>
              <td>
                <button class="btn btn-danger cat-list-item-button">Remove</button>
              </td>
            </tr>
          </table>
        </li>
         <li>
          <table class="cat-list-item">
            <tr>
              <td class="cat-list-item-image-container" colspan="2">
                <div class="cat-list-item-image-container">
                  <img class="py-5 cat-list-item-image" src='media/images/cat4.jpg'/>
                </div>
              </td>
            </tr>
            <tr>
              <td class="owner" colspan="2">
                <h3>Owner: Samuel</h3>
              </td>
            </tr>
            <tr>
              <td>
                <button class="btn btn-warning cat-list-item-button">Update</button>
              </td>
              <td>
                <button class="btn btn-danger cat-list-item-button">Remove</button>
              </td>
            </tr>
          </table>
        </li>
      </ul>
    </div>

  </div>
  <!-- /.container -->
    <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Cat Collection 2019</p>
    </div>
    <!-- /.container -->
  </footer>


</body>

</html>
