<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Cats Collection</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">
  <link href="{% static 'css/register.css' %}" rel="stylesheet">


</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">Cat Collection</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <!-- <div class="imageframe"> -->
            <!-- Hello World -->
          <!-- </div> -->
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">HomePage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cat List</a>
          </li>
        </ul>
      </div>
      <div class="navbar-brand">
        <img class="imageframe" src="{% static 'images/cat1.jpg' %}" /> 
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <br>
    <form>
      <div class="register-container">
        {{ form.as_p }}
        <!-- <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <label for="re-psw"><b>Confirm Password</b></label>
        <input type="password" placeholder="Re-enter Password" name="re-psw" required>

        <button type="submit" class="btn btn-primary btn-btn">Register</button> -->
      </div>

      <div class="button-container">
          <span class="psw">Already a User?     <a href="#">Login Here</a></span>
      </div>
    </form>
  </div>

</body>

</html>
